@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

header {
    background-color: #101010;
    height: 57px;
}

main {
    background-color: rgb(54, 54, 54);
    height: calc(100% - 57px);
}